<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapaEntidades.Helpers.ConfigEmail" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CapaEntidades.Helpers.ConfigEmail>
            <setting name="Email_errores" serializeAs="String">
                <value>solucionesinformaticas9708@gmail.com</value>
            </setting>
            <setting name="Password_email_errores" serializeAs="String">
                <value>y f y s x e f i r w v o x o g c</value>
            </setting>
            <setting name="Email_recepcion_errores" serializeAs="String">
                <value>jdiego970831@gmail.com</value>
            </setting>
            <setting name="Server_smtp_errores" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="Port_server_errores" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="Email_reportes" serializeAs="String">
                <value>solucionesinformaticas9708@gmail.com</value>
            </setting>
            <setting name="Password_email_reportes" serializeAs="String">
                <value>y f y s x e f i r w v o x o g c</value>
            </setting>
            <setting name="Email_recepcion_reportes" serializeAs="String">
                <value>jdiego9708@gmail.com</value>
            </setting>
            <setting name="Server_smtp_reportes" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="Port_server_reportes" serializeAs="String">
                <value>587</value>
            </setting>
        </CapaEntidades.Helpers.ConfigEmail>
    </userSettings>
</configuration>